.explain-container{
    height: auto;
    /* background-color: aqua; */
    /* border: solid aqua 2px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explain-video-container{
    width: 40vw;
    height: 90vh;
    /* border: solid  red 2px; */
}
.explain-scroll-container{
    width: 90vw;
    height: auto;
    /* border: solid  red 2px; */
    overflow: scroll;
    scrollbar-width: none;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
.explain-video-scroll-container{
    display: flex;
    /* overflow: scroll; */

}

.explain-scroll-content{

}
.explain-scroll-content-steps{
    width: 90%;
    height: auto;
    /* border: aqua solid 2px; */
    margin: 10vh auto;
    /* display: flex; */
    align-items: center;
    padding: auto;
    scroll-snap-align: center ;
}

.explain-fixed-process{
    position: sticky;
    top: 0;
    height: 10vh;
    margin: 2vh 5vh;
    /* background-color: aqua; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.explain-scroll-content-steps-heading{
    position: relative;
    top: 0;
}

.explain-scroll-content-steps-image-details-container{
    
    display: flex;
    gap: 3vw;
    margin: 10vh 2vw;
}

.explain-scroll-content-steps-details{
    width: 70vw;
    height: 60vh;
    /* border: aqua solid 2px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    overflow: scroll;
    scrollbar-width: none;
    scroll-snap-type: y mandatory;

}
.explain-scroll-content-steps-details-part{
    width: 90%;
    height: auto;
    /* border: aqua solid 2px; */
    scroll-snap-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vh;
}

.explain-scroll-content-steps-details-part1{
    width: 90%;
    height: 4vh;
    /* border: aqua solid 2px; */
    font-size: large;
}
.explain-scroll-content-steps-details-part2{
    width: 90%;
    height: 5vh;
    /* border: aqua solid 2px; */
    font-size: x-large;
    text-transform: uppercase;
}
.explain-scroll-content-steps-details-part3{
    width: 90%;
    /* height: 7vh; */
    height: auto;
    /* border: aqua solid 2px; */
    /* font-size: x-large; */
    /* text-transform: uppercase; */
}

@media(max-width: 860px){
    .explain-scroll-content-steps-image-details-container{
        display: block;
        
    }
    
}

@media(max-width: 508px){
    .mastery-container{
        margin-bottom: 1em;
    }
    .expertise-container{
        margin-bottom: 1em;
    }
}

.journey-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}
.journey-card{
    height: 80vh;
    width: 25vw;
    /* background-color: rgb(136, 124, 148); */
    background: rgb(4,120,177);
    background: linear-gradient(90deg, #b527cf 0%, #3546f0 100%);
    border-radius: 25px 25px 0 0;
    color: white;
}
.journey-card-1{
    background: linear-gradient(90deg, #b527cf 0%, #3546f0 100%);
}
.journey-card-2{
    background: linear-gradient(90deg, #3bd9d9 0%, #8035f0 100%);
}
.journey-card-3{
    background: linear-gradient(90deg, #ff9500 0%, #d5cb0f 100%);
}
@media(max-width:768px){
    .journey-card-container{
        flex-direction: column;
        /* gap:  5vh; */
        scroll-snap-type:y mandatory;
        
        overflow: scroll;
        
    }
    .journey-card{
        height: auto;
        width: 80vw; 
        margin-top: 5vh;
        scroll-snap-align: start;
    }
    
}
.accordion-item, .accordion-button{
    color: white;
    /* background-color: blueviolet; */
    background: rgb(167,4,177);
background: linear-gradient(135deg, rgba(167,4,177,1) 0%, rgba(10,10,113,1) 57%, rgba(0,150,255,1) 100%);
    border: none;
    text-align: center;
}

.accordion-item-1, .accordion-button-1{
    background: linear-gradient(90deg, #b527cf 0%, #3546f0 100%);
}

.accordion-item-2, .accordion-button-2{
    background: linear-gradient(90deg, #3bd9d9 0%, #8035f0 100%);
}

.accordion-item-3, .accordion-button-3{
    background: linear-gradient(90deg, #ff9500 0%, #d5cb0f 100%);
}

.accordion-button-text{
    margin: 0 auto;
    font-size: 1.25em;
}
.journey-card-img{
    width: 25vw;
    height: 35vh;
    border-radius: 5px 25px 5px 0px;
}

.journey-card-heading{
    font-size: 2em;
    margin-bottom: 1em;
}

@media(max-width:768px){
    /* .journey-card-img{
        display: none;
    }  */
    .journey-card-img{
        width: 80vw;
        height: 35vh;
        border-radius: 5px 25px 5px 0px;
    }
}