.landing-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* opacity: 0.5; */
    /* background-image: url(https://assets-global.website-files.com/64817162a9f41af693e654ba/64affb961340ad16f5df1fcd_grid.svg); */
    background-size: auto;
    padding-top: 30px;
    height: 100vh;

}

.landing-title{
    font-size: calc(var(--lh1));
    
    
}

.content{

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    
    background-image: linear-gradient(45deg,aqua,blue,magenta, red, orange, yellow, green, cyan,blue);
    /* animation: animate; */
    animation: animate 7s ease infinite;
    background-size: 400% 400%;
}

@keyframes animate{
    0%{
        background-position: 0 0;
    }
    25%{
        background-position: 100% 0;
    }
    50%{
        background-position: 100% 100%;
    }
    75%{
        background-position: 0 100%;
    }
    100%{
        background-position: 0 0;
    }
}

.landing-subtitle{
    display: flex;
    justify-content: center;
    /* border: solid white 2px; */
    width: 50vw;
    height: 25vw;
    margin-top: 2em;
}

.animated-button-container{
    margin-top: 5vh;
    gap: 20px;
    height: auto;
}

@media (max-width:768px){
    
    .landing-title{
        font-size: 40px;
      }

    .content{
        font-size: 75px;
    }

    .animated-button-container{
        margin-top: 180px;
    }

    
}

landing-title {
    font-size: 100px; /* Default font size for desktop */
}

@media only screen and (min-width: 480px) {
    /* Styles for tablets and smaller screens */
    .landing-title {
        font-size: 50px; /* Font size for tablets */
    }
    .content{
        font-size: 125px;
    }
    .landing-subtitle{
        width: 75vw;
        font-size: 30px;
    }

    .animated-button-container{
        display: flex;
        gap: 30px;
    }
}

@media only screen and (max-width: 480px) {
    /* Styles for mobile devices */
    landing-title {
        font-size: 50px; /* Font size for mobile devices */
    }
    .animated-button-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    
}

.bg-gif{
    position: absolute;
    /* top: -25vh; */
    opacity: 0.33;
    width: 100vw;
    height: 150vh;
    /* border: solid aqua 2px; */
    object-fit: cover;
}

.bg-gif img {
 
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media(max-width:768px){
    .bg-gif{
        top:5vh; 
    }

    .interstellar{
        margin-bottom: -20vh;
    }

    .scholarship-deadline{
        margin-top: 12vh;
    }

    .animated-button-container{
        margin-top: 2vh;
    }

    .landing-subtitle{
        width: 80vw;
    }
  }

  .scholarship-deadline{
    margin-top: -30vh;
}