.landing-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* opacity: 0.5; */
    background-image: url(https://th.bing.com/th/id/OIP.LB2_m8V-IfJx3XRdwNOLwgHaGL?rs=1&pid=ImgDetMain);
    background-size: auto;

}

.landing-title{
    font-size: calc(var(--lh1));
}

.landing-subtitle{
    display: flex;
    justify-content: center;
    /* border: solid white 2px; */
    width: 50vw;
    height: 25vw;
    margin-top: 2em;
}

.animated-button-container{
    margin-top: 5vh;
    gap: 20px;
    height: auto;
}

@media (max-width:768px){
    
    .landing-title{
        font-size: 75px;
      }

    .animated-button-container{
        margin-top: 180px;
    }

    
}

landing-title {
    font-size: 100px; /* Default font size for desktop */
}

@media only screen and (min-width: 480px) {
    /* Styles for tablets and smaller screens */
    .landing-title {
        font-size: 125px; /* Font size for tablets */
    }
    .landing-subtitle{
        width: 75vw;
        font-size: 30px;
    }

    .animated-button-container{
        display: flex;
        gap: 30px;
    }
}

@media only screen and (max-width: 480px) {
    /* Styles for mobile devices */
    landing-title {
        font-size: 50px; /* Font size for mobile devices */
    }
    .animated-button-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    
}