.numbers-container{
    height: 100vh;
    /* border: 2px solid aqua; */
}

.numbers-icon{
    width: 20vw;
}

.network-icon{
    margin-top: 8vh;
    width: 30vw;
    height: 30vh;
    margin-bottom: 5vh;
}

.knowledge-icon{
    height: 30vh;
    margin-top: 10vh;
    margin-bottom: 3vh;
}