
 @import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');


#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
  /* font-family: 'Michroma', sans-serif; */
  /* family=Rubik:wght@500 */
 object-fit: cover;
 background-color: #000;
 box-sizing: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms; 

}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


body{
  overflow-x:hidden;
  background: black;

}

.header{
  display: flex;
  position: relative;
  justify-content: space-between;
}
.logo-container{
  display: flex;
  gap: calc(var(--ug)*6.25);
  align-items: center;

}
.btn-container{
  padding-top: calc(var(--ug)*0.75);
  padding-bottom: calc(var(--ug)*0.75);

}
.course-button{
  background-color: black;
  color: aliceblue;
}

.a-container{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.a-items{
  margin: auto ;
}

.breadcrumb-container{
  margin-top: 20px;
}
.cards-container{
  display: flex;
}
.info-card{
  width: 60%;
  height: auto;
  background-color: aqua;

}

.img-card{
  background-color: aquamarine;
  width: 40%;
  height: auto;
  animation: fade-in linear;
  animation-timeline: view();
}
@keyframes fade-in{
  from{scale: .8; opacity: 0;}
  to{scale: 1.2; opacity:1 ;}
}
.bg{
  background: black;
  background-color: black;
  color: #ffffff;
  width: 100%;
}
@media (min-width:768px){
.nav-container{
  padding-left: calc(var(--ug)*1.25);
  padding-right: calc(var(--ug)*1.25);
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  max-width: 90rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: aquamarine;
}

}

@media (max-width:768px){
  .landing-container{
    width: 100%;
  }
  
  .cards-container{
    display: block;
  }
  .img-card{
    width: 100%;
  }
  .info-card{
    width: 100%;
  }
  /* .landing-sub{
    width:80%;
  } */
}

.points-container{
  margin: 20px 0;
  flex-direction: column;
}
.point{
  display: flex;
  gap: 10px;
}
.btn-1{
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  
  gap: 50px;
  display: flex;
}
.activity{
  display: flex;
  justify-items: center;
  margin-top: 20px;
  margin-left: 50px;
  width: 90%;
  height: 180px;
  border: solid 2px black;
  box-sizing: border-box;
  border-radius: 30px;
  
}
.act-1{
  display: flex;
  margin-left: 30px;
  margin-top: 30px;
  gap: 30px;
}

.feature{
  width: 150px;
  height: 140px;
  
  border-right: solid 2px;
  display: flex;
  margin-right: 20px;
  align-items: center ;
  justify-content: center;
  /* margin: auto ; */
  margin-bottom: 30px;
  
}
.content-1{
  display: flex;
  margin-left: 0px;
  position: sticky ;
  top: 0;
  margin-top: 30px;

 
}
.inner-cont{
  display: flex;
  margin-top: 30px;
  width: 60%;
  height: 100px;
  padding: 25px;
  border: 2px solid;
  border-radius: 10px;
  gap: 20px;
  animation-duration: 32s;
  position: sticky;
  top: 20px;
  
}
.inner-cont{
  animation-name: example;
  animation-duration: 32s;
  animation-timing-function: ease;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
.bg-img{
  width: 100%; 
  height: 300px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url('react-img.webp'); */
  background-image: url('https://i.pinimg.com/originals/5e/a6/57/5ea65718da48f1fb50747e185f69740e.gif');
  background-size: cover;
  color: beige;
  z-index: -1;
}

.qwe{
  min-height: 60px;
  border: solid 2px;
  margin: 20px 0;
  position: sticky;
  top: 0;
  background-color: #ffffff; /* Optional: Add a background color */
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  overflow: scroll;
}

.tabs-container {
  width: 100%;
}

.tabs {
  display: flex;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
}

.tab.active {
  background-color: #ddd;
}

.tab-content {
  margin-top: 10px;
}
.clm-1{
  display: flex;
  margin-top: 30px;
}
.clm-2{
  display: flex;
}
.clm-3{
  margin-top: 20px;
  width: 100%;
  height:auto;
  border: solid 2px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  top: 70px;
}
.cnt-1{
  position: relative;
  margin: 12px 33px;
  width: 120px;
  height: auto;
  border: solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
}
.display-items{
  width: 90%;
  height: 400px;
  margin: 10vh;
  border: 2px solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  
}
.disp-1{
  display: flex;
  margin-top: 30px;
  /* margin-left: 15px; */
}
.disp-2{
  display: flex;
  padding: 20px;
}
.cert-1{
  display: flex;
  margin-top: 80px;
}
.cert-2{
  display: flex;
  margin-left: 0;
  margin-top: 25px;
}
.tab-1{
  display: flex;
  border: 2px solid;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.activeModule{
  border: solid 2px orange;
}

.y77{
  width: 120px;
  height: 40px;
  border: solid black 2px;
}

.comparisionContainer{
  margin-top: 60px;
  height: 300px;
  width: auto;
  border: solid 2px;
  border-radius: 20px;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
display: flex;
}

.compare-parameter{
  /* background-color: aqua; */
  height: auto;
  width: 350px;
  margin: 0 20px;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);

}

.compare-row{
  width: 100%;
  height: 60px;
  border-bottom: rgb(78, 74, 71) solid;
  display: flex;
  align-items: center;
  padding-left: 15px;
  gap: 20px;
}

.compare-row p{
  margin-bottom: 0;
  font: 1.25em sans-serif;
}

#propel-compare{
  border: solid orange 12px;
  box-sizing: content-box;
}



.courseImg{
  width: 100%;
}

.scrollable-nav{
  display: flex;
  gap:30px;
  overflow: scroll;
  scrollbar-width: none;
}

.scrollable-nav .inner {
  display: flex;
  margin-inline: 20px;
  gap:60px
}


.slider-container{
  color: rgb(185, 1, 90);
  background-color: aquamarine;
}

.slider-container button{
  background-color: chartreuse;
}

.scroll-nav-container{
  display: flex;
  margin-top: 30px;
  background: orange;
  width: 60%;
  
}
.sticky{
  position: sticky;
  top: 0;
  
}
.page-1{
  display: flex;
  margin-top: 60px;
}
.page-2{
  display: flex;
}
.page-3{
  width: 350px;
  height: 350px;
  margin-left: 40%;
  border: solid 5px pink;
  border-radius: 20px;
}

.comparision-icon{
  width: 25px;
  height: 25px;
}
.landing-container{
  /* width: 100%; */
  height: 800px;

  /* background-color: orange; */
  background-color: black;
  align-items: center;
  
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.landingText{
  z-index:  999;
}

.landingNav{
  display: flex;
  height: 50px;
  border: solid aqua 4px;
  border-top-width: 0;
border-bottom-width:5px;
border-left-width:5px;
border-right-width:5px;
  margin: 30px auto;
  align-items: center;
  width: 150px;
  background-color: #f29500;
  

}

.landingUSp{
  height: auto;
  border: aqua solid 2px;
  width: 50%;
}

.experience {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:100vh;
  z-index: 2;
}

.scrollTarget {
  position: absolute;
  height: 1000vh;
  width: 100px;
  top: 0;
  z-index: 0;
}

.vignette-radial {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}

.vignette-radial:after {
  pointer-events: none;
  content: ' ';
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background: radial-gradient(circle, transparent 60%, black 150%);
}

.glow {
  margin: 30px;
  padding: 15px 40px;
  border: none;
  outline: none;
  color: #FFF;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}
.glow::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* glow */
.glow::before {
  content: "";
  background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

/* hover */
.glow:hover::before {
  opacity: 1;
}

.glow:active:after {
  background: transparent;
}

.glow:active {
  color: #000;
  font-weight: bold;
}
#glow{
  font-size: 35px;
  color: white;
}
/* .landingImg{
  height: 200px;
  width:400px;
} */
.landing-sub{
  width: 600px;
  height: 200px;
  /* border: 3px solid white; */
  margin-top: 50px;
  line-height: 2;
}
.landing-sub p{
  font-size: 20px;
}
.landing-butttoncontainer{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
}


.landing-button-1{
  background-color: white;
}

/* ech */

.logo-container{
  font-size: 50px;
  display: flex;
  justify-content: center;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}
.CoursePage{
  color: white;
}
